src/main/app/endpoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    
	<flow name="reportingFlow">
		<http:listener config-ref="file_batch_api_httpListenerConfiguration"
			path="/report" allowedMethods="GET" doc:name="GET reporting batch" />
		<flow-ref name="leh-common-request-preprocess-subflow" doc:name="leh-common-request-preprocess-subflow"/> 
			<flow-ref name="leh-common-service-log-start-subflow" doc:name="leh-common-service-log-start-subflow"/>
		<choice doc:name="report batch">
			<when expression="#[message.inboundProperties.'http.query.params'.account]">
				<expression-component doc:name="Invoke or get reporting Account Logs" ><![CDATA[payload;]]></expression-component>
			</when>
			<when expression="#[message.inboundProperties.'http.query.params'.vehicle]">
				<expression-component doc:name="Invoke or get reporting Vehicle Logs" ><![CDATA[payload;]]></expression-component>
			</when>
			<when
				expression="#[message.inboundProperties.'http.query.params'.vehicleassociation]">
				<expression-component
					doc:name="Invoke or get reporting VehicleAssociation Logs" ><![CDATA[payload;]]></expression-component>
			</when>
			<otherwise>
                <expression-component doc:name="Not Logs"><![CDATA[app.name;]]></expression-component>
			</otherwise>
		</choice>
		<set-payload value="#[payload]" doc:name="Reporting Log" />
        <flow-ref name="leh-common-service-log-complete-subflow" doc:name="leh-common-service-log-complete-subflow"/>
		<exception-strategy ref="global-exception-strategy"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="settingFlow">
		<http:listener config-ref="file_batch_api_httpListenerConfiguration"
			path="/setting" allowedMethods="POST" doc:name="POST settings" />
		<flow-ref name="leh-common-request-preprocess-subflow" doc:name="leh-common-request-preprocess-subflow"/> 
			<flow-ref name="leh-common-service-log-start-subflow" doc:name="leh-common-service-log-start-subflow"/>
        <dw:transform-message doc:name="outboundProperties">
			<dw:set-payload ><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-property propertyName="object"><![CDATA[%dw 1.0
%output application/java
---
payload.object]]></dw:set-property>
            <dw:set-property propertyName="country"><![CDATA[%dw 1.0
%output application/java
---
payload.country]]></dw:set-property>
            <dw:set-property propertyName="business"><![CDATA[%dw 1.0
%output application/java
---
payload.business]]></dw:set-property>
            <dw:set-property propertyName="timestandard"><![CDATA[%dw 1.0
%output application/java
---
payload.schedule.poll.timestandard]]></dw:set-property>
            <dw:set-property propertyName="inputPath"><![CDATA[%dw 1.0
%output application/java
---
"//input/" ++ payload.country ++ "/" ++ payload.business ++ "/" ++ payload.object]]></dw:set-property>
            <dw:set-property propertyName="outputPath"><![CDATA[%dw 1.0
%output application/java
---
"//output/" ++ payload.country ++ "/" ++ payload.business ++ "/" ++ payload.object]]></dw:set-property>
            <dw:set-property propertyName="errorPath"><![CDATA[%dw 1.0
%output application/java
---
"//error/" ++ payload.country ++ "/" ++ payload.business ++ "/" ++ payload.object]]></dw:set-property>
            <dw:set-property propertyName="archivePath"><![CDATA[%dw 1.0
%output application/java
---
"//archive/" ++ payload.country ++ "/" ++ payload.business ++ "/" ++ payload.object]]></dw:set-property>
            <dw:set-property propertyName="cronexpression"><![CDATA[%dw 1.0
%output application/java
---
payload.schedule.poll.cron.seconds as :string ++ " " ++ 
payload.schedule.poll.cron.minutes as :string ++ " " ++ 
payload.schedule.poll.cron.hours as :string ++ " " ++ 
payload.schedule.poll.cron.dayOfMonth as :string ++ " " ++ 
payload.schedule.poll.cron.month as :string ++ " " ++ 
payload.schedule.poll.cron.dayOfWeek as :string ++ " " ++ 
payload.schedule.poll.cron.year as :string]]></dw:set-property>
            <dw:set-property propertyName="frequencyMilliseconds"><![CDATA[%dw 1.0
%output application/java
---
payload.reconnectionStrategyTargetSystem.frequencyMilliseconds]]></dw:set-property>
            <dw:set-property propertyName="attempts"><![CDATA[%dw 1.0
%output application/java
---
payload.reconnectionStrategyTargetSystem.attempts]]></dw:set-property>
            <dw:set-property propertyName="connectorName"><![CDATA[%dw 1.0
%output application/java
---
"sftp" ++ payload.object]]></dw:set-property>
        </dw:transform-message>
        <component class="com.inchcape.util.DynamicPropertySetter" doc:name="DynamicPropertySetter"/>
        <component class="com.inchcape.util.DynamicQuartzGenerator" doc:name="DynamicQuartzGenerator"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <flow-ref name="leh-common-service-log-complete-subflow" doc:name="leh-common-service-log-complete-subflow"/>
		<exception-strategy ref="global-exception-strategy"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<!-- <flow name="vehicle_scheduler">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 30 1 * * ?" timeZone="Europe/London"/>
            <watermark variable="lastVehicleCSV" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.lastModifiedDate]"/>
            <sftp:outbound-endpoint responseTimeout="10000" ref="sftpInboundProperties" doc:name="SFTP Vehicle Files">
                <file:filename-wildcard-filter pattern="*vehicle*.txt,*vehicle*.csv" caseSensitive="false"/>
            </sftp:outbound-endpoint>
        </poll>
			
		<dw:transform-message doc:name="ListIterator">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java

payload]]></dw:set-payload>
		</dw:transform-message>
		<flow-ref name="leh-common-request-preprocess-subflow" doc:name="leh-common-request-preprocess-subflow"/> 
		<flow-ref name="leh-common-trans-log-start-subflow" doc:name="leh-common-trans-log-start-subflow"/>
		<choice doc:name="lock policy">
			<when expression="#['poll' == '${trigger.policy}']">
				<expression-component doc:name="lock vehicle batch interface"><![CDATA[app.registry['PollSynchronizer'].lock();]]></expression-component>
				<batch:execute name="vehicle" doc:name="vehicle" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" />
			</otherwise>
		</choice>
		<exception-strategy ref="global-exception-strategy"
			doc:name="Reference Exception Strategy" />
	</flow> -->
	<!-- <flow name="vehicleassociation_scheduler">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0 2 * * ?" timeZone="Europe/London"/>
            <watermark variable="lastVehicleAssociationCSV" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.lastModifiedDate]"/>
            <sftp:outbound-endpoint responseTimeout="10000" ref="sftpInboundProperties" doc:name="SFTP VehicleAssociation Files">
                <file:filename-wildcard-filter pattern="*vehicleassociation*.txt,*vehicleassociation*.csv" caseSensitive="false"/>
            </sftp:outbound-endpoint>
        </poll>
		
		<dw:transform-message doc:name="ListIterator">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java

payload]]></dw:set-payload>
		</dw:transform-message>
		<flow-ref name="leh-common-request-preprocess-subflow" doc:name="leh-common-request-preprocess-subflow"/> 
		<flow-ref name="leh-common-trans-log-start-subflow" doc:name="leh-common-trans-log-start-subflow"/>
		<choice doc:name="lock policy">
			<when expression="#['poll' == '${trigger.policy}']">
				<expression-component doc:name="lock vehicleassociation batch interface"><![CDATA[app.registry['PollSynchronizer'].lock();]]></expression-component>
				<batch:execute name="vehicleassociation" doc:name="vehicleassociation" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" />
			</otherwise>
		</choice>
		<exception-strategy ref="global-exception-strategy"
			doc:name="Reference Exception Strategy" />
	</flow> -->

	

</mule>
